[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
requests = "2.24.0"
retrying = "1.3.3"
lxml = "4.5.2"

[requires]
python_version = "3.8"
